@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format(opentype);
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&display=swap');

:root{
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue' , 'cursive';
    --fonte-Android: 'Android' , 'cursive';

}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor01);
    font-family: var(--fonte-padrao);
}
header{
    background-image: linear-gradient( to bottom, var(--cor03), var(--cor06));
    text-align: center;
    box-shadow: 5px 5px black;
}
header > h1 {
    color: white;
    min-height: 150px;
    font-family: 'Bebas Neue';
    padding-top: 40px;
    font-size: 3em;
    text-shadow: 2px 2px black;
}
header > p {
    color: white;
    margin: auto;
    padding: 0px 20px 30px 20px;
    max-width: 500px;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
    text-shadow: 2px 2px black;
}
nav{
    background-color: var(--cor06);
    padding: 10px;
    font-weight: bold;
}
nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.5s;
}
nav a:hover {
    background-color: var(--cor05);
    color: var(--cor01);
}
main {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;

    min-width: 300px;
    max-width: 1000px;
}
main h1 {
    font-family: var(--fonte-Android);
    color: var(--cor05);
    font-size: 2em;

}
main h2 {
    font-family: var(--fonte-Android);
    color: var(--cor05);
    background-image: linear-gradient(to right, var(--cor03), transparent);
    text-indent: 30px;
    font-size: 1.7em;
}

main p {
    padding: 20px;
    text-indent: 30px;
    line-height: 30px;
    font-size: 1.2;
    text-align: justify;
    margin: 15px 0px;
}

main strong {
    Text-decoration: bold;
    color: var(--cor05);
    font-size: 1.1em;
}
main a {
    Text-decoration: none;
    color: var(--cor05);
    background-color: var(--cor01);
    padding: 5px;
    font-weight: bold;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor06);
}
main img {
    display: block;
    margin: auto;
    width: 100%;
}
div#video {
    background-color: var(--cor06);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 60%;
    position: relative;
}
div#video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
a.externo::after {
    content: '\00A0\1F517';
}
main #pequeno{
    width: 300px;
}
aside {
    background-color: var(--cor03);
    padding: 20px;
    border-radius: 10px;
}
aside h3 {
    background-color: var(--cor06);
    color: white;
    padding: 15px;
    margin: -20px;
    border-radius: 10px 10px 0px 0px;
}
aside ul {
    list-style-position: inside;
    columns: 2;
}
footer {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--cor06);
    color: white;
    text-align: center;
}
footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
